body {
    background-color:lightgray;
    background-image: url('../images/Code\ img.png');
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: 50%;
    max-width: 4500px;
    margin: 0 auto;
    background-attachment: fixed;
    flex: 400px;
}

html, body {
    top:0;
    bottom:0;
    left:0;
    right:0;
}

.code-heading {
    margin-top: -0.2em;
    font-weight: bold;
    font-size: 4em;
    text-transform: uppercase;
}


.code-intro {
    margin-bottom: 0.1em;
    font-size: 2em;
    color: black;
}

.nix {
    color: white;
    margin: 40%;
    font-size: 90px;
}


header div {
    width: 203px;
    border: 10px solid black;
    padding: 50px;
    margin: 20px;
    background-color: white;

}

header nav {
    background-color: black;
    margin: 0%;
}

nav a {
    padding: 20px 20px;
    text-decoration: none;
    text-align: center; 
    color: white;
}

section {
    flex: 1;
    background-color: white;
    padding: 50px;
    font-size: 25px;
    display: block;
    border: 10px solid black;
    margin: 0%;
    background-image: url('../images/IMG_54967165ED75-1.jpeg');
    background-repeat: no-repeat;
    background-size: 12%;
    float: bottom;
}

#right {
    text-align: right;
    justify-content: right;
}

aside {
    float: right;
    width: 40%;
}

.footer-nav a {
    color:white;
    font-size: 25px;
    display: flex;
}

.footer-nav {
    display: flex;
    background-color: black;
    padding-left: 40%;
}

code {
    background: white;
    color: black;
    display: block;
    font-size: 18px;
    padding: 24px 15px;
    text-align: left;
    border: 10px solid black;
    font-weight: bold;
    float: left;
    margin: 15%;
}

article {
    background: white;
    display: block;
    font-size: 18px;
    padding: 24px 15px;
    text-align: left;
    border: 10px solid black;
    font-weight: bold;
    float: left;
    margin: 5%;
}


header,
aside,
footer {
margin: 0 1.5% 24px 1.5%;
}

footer,
header {
    clear: both;
}



@media screen and (max-width: 992px) {
    .card {
    width: 50%;
    }
}
  /* Cards are stacked on top of each other at 768px or smaller */
@media screen and (max-width: 768px) {
    .card {
    width: 100%;
    }
}

header nav {
    display: flex;
    flex-wrap: wrap;
}

a {
    color: black;
    text-decoration: none;
}
