body {
    background-color: lightgray;
    background-image: url('../images/Code\ img.png');
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: 50%;
    max-width: 4500px;
    margin: 0 auto;
    background-attachment: fixed;
    flex: 400px;
}

html,
body {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

nav {
    display: flex;
    flex-wrap: wrap;
}

nav a {
    padding: 20px 20px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

a {
    color: black;
}

header nav {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    margin: 0px !important;
    width: 100% !important;
}

header div {
    width: 203px;
    border: 10px solid black;
    padding: 50px;
    margin: 100px;
    background-color: white;
    box-shadow: 100px 50px 40px 20px rgb(80, 83, 83);
}

.code-heading {
    margin-top: -0.2em;
    font-weight: bold;
    font-size: 4em;
    text-transform: uppercase;
}

.code-intro {
    margin-bottom: 0.1em;
    font-size: 2em;
    color: black;
    font-family: monospace;
}

.nix {
    color: white;
    margin: 40%;
    font-size: 2em;
}

section {
    flex: 1;
    background-color: white;
    padding: 50px;
    font-size: 25px;
    border: 10px solid black;
    margin: 0%;
    background-image: url('../images/IMG_54967165ED75-1.jpeg');
    background-repeat: no-repeat;
    background-size: contain;
}

#right {
    text-align: right;
    justify-content: right;
}

aside {
    float: right;
    width: 40%;
}

code {
    background: white;
    color: black;
    display: block;
    font-size: 18px;
    padding: 24px 15px;
    text-align: left;
    border: 10px solid black;
    font-weight: bold;
    float: left;
    margin: 15%;
    box-shadow: 100px 50px 40px 20px rgb(80, 83, 83);
}

article {
    background: white;
    display: block;
    font-size: 18px;
    font-family: monospace;
    padding: 24px 15px;
    text-align: left;
    border: 10px solid black;
    font-weight: bold;
    float: left;
    margin: 5%;
    box-shadow: 100px 50px 40px 20px rgb(80, 83, 83);
}

header,
aside,
footer {
    margin: 0 1.5% 24px 2%;
}

footer,
header {
    clear: both;
}

.footer-nav {
    display: flex;
    align-self: auto;
    display: flex;
    background-color: black;
}

footer p {
    color: black;
    text-align: center;
    font-size: 20px;
}


.button {
    text-decoration: none;
    background: black;
    padding: 15px 40px;
    border-radius: 4px;
    font-weight: normal;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
}

.glow-button:hover {
    box-shadow: 0 15px 15px gray;
}

#links {
    margin: auto;
    width: auto;
    padding: 20px;
}


.out-line {
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
    font-size: 40px;
    font-family: monospace;
}

.White-out-line {
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    font-size: 35px;
}

@media screen and (max-width: 768px) {
    .about-me {
        width: 100%;
    }

    .brand-name {
        display: inline-flexbox;
    }

    .nix {
        color: black;
        display: block;
        margin: 0%;
        font-size: 1em;
    }
}

@media screen and (max-width: 414px) {
    .right {
        color: white;
        display: block;
        margin: 0%;
        font-size: 1em;
    }

    @media screen and (max-width: 785px) {
        #links {
            margin: auto;
            width: auto;
            padding: 0px;
        }
    }

    h2,
    h3 {
        color: white;
    }

    .section {
        background-size: contain;
    }
}